<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>{{page_name}}</title>
    <style>
        .fix-justify {
            display: flex;
            justify-content: space-between;
            border-radius: 0px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}

    <!-- flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "success" %}
                <div class="alert alert-success alert-dismissible fade show fix-justify" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <!-- <span aria-hidden="true">&times;</span> -->
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show fix-justify" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    <!-- <span aria-hidden="true">&times;</span> -->

                </div>
                
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- end flash messages -->

    {% block content %} {% endblock %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% block js %}{% endblock js %}
</body>
</html>