{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 align="center">Leaderboards</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">User</th>
                  <th scope="col">Solved</th>
                </tr>
              </thead>
              <tbody>
                {% for user in data['items'] %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>
                    <a href="{{ url_for('views.profile', userid=user['id']) }}" class="text-decoration-none text-dark">
                      <img src="{{ user['profile_pic'] }}" class="rounded-circle" width="50" height="50" alt="ProfilePic">
                      <span class="fw-bold">{{ user["username"] }}</span>
                    </a>
                  </td>
                  <td>{{ user["solved_count"] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
